<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AyuboDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AyuboDrive.Properties.Settings>
      <setting name="CONNECTION_STRING" serializeAs="String">
        <value>Data Source=DESKTOP-0CECDCR;Initial Catalog=AyuboDriveV2;Integrated Security=True</value>
      </setting>
      <setting name="MAIL_SERVER" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="SENDER_EMAIL" serializeAs="String">
        <value>shalinkulawardana@gmail.com</value>
      </setting>
      <setting name="RECEIVER_EMAIL" serializeAs="String">
        <value>shalinkulawardana@gmail.com</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>wuxrfgttqosyplba</value>
      </setting>
      <setting name="DARK_GRAY" serializeAs="String">
        <value>29, 35, 49</value>
      </setting>
      <setting name="LIGHT_GRAY" serializeAs="String">
        <value>40, 48, 66</value>
      </setting>
      <setting name="LIGHTER_GRAY" serializeAs="String">
        <value>47, 58, 77</value>
      </setting>
      <setting name="GREEN" serializeAs="String">
        <value>70, 199, 151</value>
      </setting>
      <setting name="RED" serializeAs="String">
        <value>240, 69, 69</value>
      </setting>
      <setting name="PURPLE" serializeAs="String">
        <value>103, 96, 250</value>
      </setting>
      <setting name="ENABLED_WHITE" serializeAs="String">
        <value>252, 254, 255</value>
      </setting>
      <setting name="DISABLED_WHITE" serializeAs="String">
        <value>130, 142, 163</value>
      </setting>
      <setting name="TRANSPARENT" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="PARTIALLY_TRANSPARENT" serializeAs="String">
        <value>30, 0, 0, 0</value>
      </setting>
    </AyuboDrive.Properties.Settings>
  </applicationSettings>
</configuration>